.App {
  text-align: center;
}

.app_form {
  text-align: center;
  z-index: 1;
  width: 90%;
  margin: 20px;
}

.app_img {
  margin-top: 20px;
}

.app_formControl {
  display: flex !important;
  flex-direction: row !important;
}
.app_formControl:hover {
  cursor: pointer;
}
.app_input {
  flex: 1;
  background-color: #e9e9eb !important;
  border-radius: 20px !important;
}

.app_iconButton {
  flex: 0;
}
